# compiled source
*.c
*.pyc
*.so
__pycache__

# os
.DS_Store

# distribution / packaging
build/
dist/
*.egg-info

# sphinx documentation
docs/build/*

# other stuff
.coverage

# datasets
resources/
data/
